body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.cruz-vermelha {
	color: red;
}

.jumbotron-wrapper {
	text-align: center;
	padding: 0px 20px;
}

.jumbotron {
	display: inline-block;
	min-width: 800px;
}

.jumbotron-wrapper > * {
	text-align: left;
}

.jumbotron-wrapper > .title {
	text-align: center;
	margin-left: -600px;
}

.advanced-search {
	margin-bottom: 20px;
}

.volunteers-table {
	width: 100%;
}

.volunteers-table th,td {
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	margin-bottom: 2px;
	margin-top: 0px;
	font-size: 16px;
	line-height: 25px;
	color: #333333;
	border: 0;
}

.volunteers-table th {
	font-weight: 500;
	padding: 0px 10px;
	border-bottom: 1px solid #a5a5a5;
}

.volunteers-table td {
	padding: 8px 10px;
	border-bottom: 1px solid #c5c5c5;
}
